.container-fluid > .row > .card {
  padding: 0;
  height: 394px;
  margin-bottom: 40px;
  width: 16rem;
  border-radius: 10px;

  .card-img-top {
    object-fit: cover;
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.container-fluid > .row > .card > .card-body {
  .card-title {
    font-size: $text-large;
    font-family: $font-text;
  }

  .card-text {
    color: $text-secondary;
    font-size: $text-medium;
    font-family: $font-text;
  }

  .card-link {
    display: flex;
  }
}

.container-fluid > .row > .card > .card-body > .card-link {
  .btn-primary {
    background-color: $primary-color;
    width: 80%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 50px;
  }

  .btn-secondary {
    width: 20%;
    border: none;
    background-color: $text-secondary;
    border-radius: 0px 5px 5px 0px;
  }
}

@media screen and (max-width: 1170px) {
  .container-fluid > .row > .card {
    width: 14rem;
  }
}
@media screen and (max-width: 770px) {
  .container-fluid > .row > .card {
    width: 13rem;
  }
}

@media screen and (max-width: 580px) {
  .container-fluid > .row > .card {
    width: 100%;
  }
}
