// color
$light: #efefef;
$primary-color: #e92569;
$text-primary: #fff;
$text-secondary: #767676;
$background-color: #fff;

// font
$font-heading: "Playfair Display", serif;
$font-text: "Lato", sans-serif;

// font-size
$text-small: 16px;
$heading-size: 34px;
