footer {
  max-width: 90%;
  margin: 0px auto;
}

.mobile-footer > .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  svg {
    height: 30px;
    width: auto;
  }
}

.mobile-footer > .footer-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  p {
    font-family: $font-text;
    color: $text-secondary;
    font-size: $text-small;
  }
}
