footer {
  background-color: $background-color;
  padding: 10px 80px;
}

.mobile-footer {
  height: fit-content;
}

.mobile-footer > .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;

  svg {
    height: 30px;
    width: auto;
  }
}

.mobile-footer > .footer-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  p {
    font-family: $font-text;
    color: $text-secondary;
    font-size: $text-small;
  }
}
