footer {
  background-color: $background-color;
  padding: 0px 80px;

  .footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;

    p {
      font-family: $font-text;
      color: $text-secondary;
      font-size: $text-small;
    }
  }
}

.mobile-footer {
  height: fit-content;
  padding-top: 50px;
}

.mobile-footer > .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

  svg {
    height: 30px;
    width: auto;
  }
}

.mobile-footer > .footer-text {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  p {
    font-family: $font-text;
    color: $text-secondary;
    font-size: $text-small;
  }
}
