.carousel {
  margin-bottom: 42px;
}

.carousel > .carousel-indicators > button {
  width: 30px;
  height: 30px;
  opacity: 1;
  margin-left: 7px;
  margin-right: 7px;
}

.carousel > .carousel-indicators > .active {
  background-color: $primary-color;
}

.text-field {
  max-width: 90%;
  margin: 0px auto 77px auto;
}

.text-field > h1 {
  margin-bottom: 13px;
}

.accordion {
  max-width: 90%;
  margin: 0px auto;

  .accordion-item {
    border: none;
    background: rgb(229, 229, 229);
    background: radial-gradient(
      circle,
      rgba(229, 229, 229, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}

.accordion > .accordion-item > h2 {
  border-bottom: 1px solid $primary-color;
  background-color: white;
}
.accordion > .accordion-item > .accordion-button {
  border: none;
}

.accordion > .accordion-item > .show > .accordion-body {
  p {
    margin-bottom: 20px;
    font-family: $font-text;
    color: $text-secondary;
    font-size: 16px;
  }
  img {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .accordion-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.tab-container {
  max-width: 90%;
  margin: 0px auto;
}

.tab-container > ul {
  border: none;
}

.tab-container > ul > li > button {
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  border: none;
  color: $primary-color;
  padding: 10px 40px;
}

.tab-container > ul > li > .active {
  background-color: $background-color;
  border: none;
}

.tab-content {
  background-color: $background-color;
  padding: 40px 0px;
}

.tab-container > .tab-content > .active {
  display: flex;
}

.tab-pane > .image-container {
  margin: 0px 40px 40px 40px;
  width: fit-content;
}

.tab-pane > .image-container > img {
  width: 238px;
  height: 149px;
}

.tab-pane > .tab-text-field {
  margin: 0px 40px 40px 40px;
  width: fit-content;
}

@media screen and (max-width: 770px) {
  .carousel {
    height: 287px;
  }
  .carousel > .carousel-inner > .carousel-item > img {
    height: 287px;
    object-fit: cover;
  }
}
