.news-content {
  margin-top: 40px;

  h1 {
    max-width: 90%;
    margin: 0 auto 40px auto;
    font-family: $font-heading;
    color: $primary-color;
    font-size: $heading-size;
  }

  nav {
    max-width: 90%;
    margin: 0px auto 40px auto;
  }
}

.news-content > nav > ul {
  .page-item > .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active > .page-link {
    width: 53px;
    height: 48px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
  }

  .page-item > a {
    width: 53px;
    height: 48px;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}

.container-fluid {
  max-width: 90%;
  margin: 0 auto;

  .row {
    display: flex;
    justify-content: space-between;
  }
}

.container-fluid > .row > .card {
  padding: 0;
  height: 394px;
  margin-bottom: 40px;
  width: 13rem;

  .card-img-top {
    object-fit: cover;
    height: 190px;
  }
}

.container-fluid > .row > .card > .card-body {
  .card-title {
    font-size: $text-large;
    font-family: $font-text;
  }

  .card-text {
    color: $text-secondary;
    font-size: $text-medium;
    font-family: $font-text;
  }

  .card-link {
    display: flex;
  }
}

.container-fluid > .row > .card > .card-body > .card-link {
  .btn-primary {
    background-color: $primary-color;
    width: 80%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    padding-left: 50px;
  }

  .btn-secondary {
    width: 20%;
    border: none;
    background-color: $text-secondary;
    border-radius: 0px 5px 5px 0px;
  }
}

@media screen and (max-width: 580px) {
  .container-fluid > .row > .card {
    width: 100%;
  }
}
