.news-content > nav {
  max-width: 90%;
  margin: 0px auto 40px auto;
}

.news-content > nav > ul {
  .page-item > .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .active > .page-link {
    width: 53px;
    height: 48px;
    border: 1px solid $primary-color;
    background-color: $primary-color;
  }

  .page-item > a {
    width: 53px;
    height: 48px;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}

.container-fluid {
  max-width: 90%;
  margin: 0 auto;

  .row {
    display: flex;
    justify-content: space-between;
  }
}
