h1 {
  color: $primary-color;
  font-family: $font-heading;
  font-size: $heading-size;
}

.news-content {
  margin-top: 40px;

  h1 {
    max-width: 90%;
    margin: 0 auto 40px auto;
    font-family: $font-heading;
    color: $primary-color;
    font-size: $heading-size;
  }
}
